body {
    background-color: #E6E6E6;
}

.header-navigation {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.tool-btn {
    position: relative;
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tool-btn:hover {
    background-color: #d0d0d0;
}

.tool-btn.selected {
    background-color: #ccc;
}

.tool-btn.gray-btn {
    background-color: #aaa;
}

.tool-btn.edit-tool {
    background-color: orange;
    color: white;
}

.red-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.red-btn:hover {
    background-color: darkred;
}

.icon-btn {
    background-color: #f0f0f0;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.icon-btn:hover {
    background-color: #d0d0d0;
}

#canvas {
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
}

